@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: auto;
  width: 50%;
  padding: 1em;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 5 100%;
}

.header {
  display: flex;
  color: #f9f3f3;
  font-size: 34px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: left;
  height: 166px;
  width: 100%;
  font-size: 34px;
  background-image: url("header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  min-width: 500px;
}

.navi {
  display: flex;
  min-width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

/* .content {;} */
.box {
  color: #f9f3f3;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  padding: 5px;
  justify-content: center;
  flex-basis: 20%;
  background: #7e6a6e;
}

h1 {
  color: #f25287;
  font-size: 28px;
  font-family: "Fredoka One", cursive;
}

h2 {
  color: #fbaccc;
  font-size: 24px;
  font-family: "Fredoka One", cursive;
}

h3 {
  color: #fbaccc;
  font-size: 16px;
}

* {
  color: black;
}
body {
  background-color: #f9f3f3;
}
